:host{
    display: flex;
    justify-content: center;
    position: relative;
    min-height: 100%;
    width: 100%;
    height: 852px;
    background-image: url('/assets/pages/waitlist/landscape/bg-pattern.png');
    background-color: #595AA0;
    padding-left: 40px;
    padding-top: 136px;
}

input:focus{
    outline: none;
}

.contact__globalContainer{
    position: relative;
    height: 100%;
    width: 100%;
    max-width: 393px;
}

.contact__banner, .contact__form{
    position: relative;
    z-index: 2;
}

.contact__banner{
    max-width: 240px;
    margin-bottom: 58px;
}

.contact__bg{
    mix-blend-mode: multiply;
    background: linear-gradient(0deg, rgba(29, 29, 38, 0) 0%, #1D1D26 17%);
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 0;
}

.banner__h1{
    color: #7071E7;
    font-size: 60px;
    font-family: Lufga;
    font-weight: 700;
    line-height: 39px;
    word-wrap: break-word;
    margin-bottom: 20px;
}

.banner__h2{
    color: #1D1D26;
    font-size: 18px;
    font-family: Lufga;
    font-weight: 300;
    line-height: 16px;
    word-wrap: break-word;
}

.banner__h2 > span{
    display: inline-block;
    /* margin-top: 5px; */
    line-height: 21px;
}

.h2__developments{
    font-weight: 600;
}

.h2__accentuation{
    font-weight: 600;
    background-color: #00FFA9;
    border-radius: 3px;
    padding-inline: 4px;
}

.contact__folderBg{
    position: absolute;
    z-index: 1;
    top: -50px;
    left: -20px;
}

form{
    padding: 30px;
    background-color: #7071E7;
    width: min-content;
    display: flex;
    gap: 20px;
    flex-direction: column;
    align-items: flex-end;
    border-radius: 15px;
}

.form__buttons{
    display: flex;
    gap: 14px;
}

.form__selector{
    border-radius: 5px;
    text-align: center;
    color: #1D1D26;
    font-size: 18px;
    font-family: Lufga;
    font-weight: 600;
    line-height: 16px;
    word-wrap: break-word;
    padding-top: 4.3px;
    padding-bottom: 3.7px;
    padding-inline: 5px;
    background-color: #00FFA9;
    border: none;
}

.form__field{
    font-family: Lufga;
    font-weight: 400;
    font-size: 18px;
    line-height: 16px;
    color: #F0F3FF;
    display: inline-block;
    width: min-content;
    padding-left: 8px;
}


.form__field > span{
    color: #00FFA9;
}

.form__field > input{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    border-radius: 6px;
    height: 25px;
    width: 253px;
    padding-left: 8px;
    margin-left: -8px;
    border: none;
    margin-top: 10px;
    font-family: Lufga;
    font-size: 15px;
}

.form__field > input::placeholder{
    font-family: Lufga;
    font-weight: 300;
    font-size: 15px;
    color: #A7A7A7;
}

.form__submit{
    font-family: Lufga;
    background-color: #0C0C1A;
    padding: 4px 12px;
    width: fit-content;
    font-size: 18px;
    color: #00FFA9;
    border-radius: 8px;
    border: none;
    display: flex;
    align-items: center;
    gap: 11px;
}

.form__submit > svg > path{
    fill: #00FFA9;
}

.form__submit:disabled{
    background-color: #4F42B3;
    color: #6865DA;
}

.form__submit:disabled > svg > path{
    fill: #6865DA;
}

.contact__connect{
    position: relative;
    z-index: 1;
    margin-top: 32px;
}

.connect__title{
    font-size: 24px;
    font-family: Lufga;
    font-weight: 600;
    color: #00FFA9;
}

.connect__text{
    font-family: Lufga;
    font-size: 13px;
    font-weight: 100;
    color: #F0F3FF;
    width: 210px;
}

.contact__trademark{
    width: 84px;
    position: absolute;
    bottom: 50px;
    left: calc(50% - 15px);
    transform: translateX(-50%);
    z-index: 1;
}

.linkedinLogo{
    display: inline-block;
    margin-top: 15px;
}

.big{
    display: none;
}

@media screen and (min-width: 1024px) {
    :host{
        padding-left: 130px;
        padding-top: 284px;
        overflow: hidden;
        height: 1366px;
    }

    .contact__globalContainer{
        max-width: 1024px;
    }

    .contact__folderBg{
        left: -50px;
        top: -74px;
    }

    .contact__banner{
        max-width: 480px;
    }

    .banner__h1{
        font-size: 115px;
        line-height: 80px;
        margin-bottom: 28px;
        font-weight: 700;
    }

    .banner__h2{
        margin-left: 20px;
        font-size: 35px;
        line-height: 32px;
    }

    .banner__h2 > .accentuation{
        margin-top: 20px;
    }

    .contact__form{
        margin-left: calc(302px - 130px);
    }

    .form__field{
        font-size: 35px;
    }

    .form__field > input{
        width: 547px;
        height: 50px;
        font-size: 25px;
        border-radius: 12px;
        margin-top: 20px;
    }

    .form__field > input::placeholder{
        font-size: 25px;
        line-height: 50px;
    }

    form{
        border-radius: 30px;
        padding: 65px 60px;
        gap: 46px;
    }

    .form__submit{
        gap: 22px;
        font-size: 35px;
        padding: 8px 25px;
        border-radius: 15px;
    }

    .form__submit > svg{
        width: 29px;
        height: auto;
    }

    .contact__connect{
        position: absolute;
        top: calc(812px - 284px);
        left: calc(65px - 130px);
        max-width: 210px;
    }

    .connect__title{
        font-size: 40px;
        line-height: 34px;
    }

    .connect__text{
        font-size: 25px;
        line-height: 22px;
        margin-top: 15px;
    }

    a > svg{
        width: 37px;
        height: auto;
        margin-bottom: 23px;
    }
    .contact__trademark{
        width: 138px;
        left: calc(50% - 30px);
    }
}

@media screen and (min-width: 1728px) {
    .big{
        display: inherit;
    }

    .small{
        display: none;
    }

    :host{
        padding-left: 170px;
        padding-top: 207px;
        overflow: hidden;
        height: 1117px;
    }

    .contact__globalContainer{
        max-width: 1728px;
    }

    .contact__folderBg{
        left: calc(120px - 170px);
        top: calc(120px - 207px);
    }

    .contact__banner{
        max-width: 761px;
    }

    .banner__h1{
        font-size: 200px;
        line-height: 130px;
        margin-bottom: 50px;
    }

    .banner__h2{
        margin-left: 40px;
        font-size: 42px;
        line-height: 38px;
        max-width: 586px;
    }
    
    .banner__h2 > .accentuation{
        margin-top: 20px;
    }

    .contact__form{
        position: absolute;
        top: calc(380px - 207px);
        left: calc(908px - 170px);
        margin-left: 0;
    }

    .contact__connect{
        margin: 0;
        max-width: 409px;
        top: calc(712px - 207px);
        left: calc(210px - 170px);
    }

    .connect__text{
        width: 100%;
    }

    .linkedinLogo > svg{
        width: 113px;
    }

    .h2__accentuation{
        padding-inline: 14px;
        border-radius: 8px;
    }
}