<section class="contactUs" id="joinUs">

    <div class="contactUs__centerText">
        <p class="termsConditionsTextLandscape none">© 2024 INFINITE ON THE UPSIDE INC.  </p>

        <h2 class="contactUs__Tittle">Join Us</h2>

        <div class="iconsContainerLandscape none">
            <ion-icon name="logo-linkedin" class="icon linkedin" (click)="openLinkedin()"></ion-icon>
            <ion-icon name="logo-discord" class="icon discord disabled"></ion-icon>
            <ion-icon name="logo-instagram" class="icon instagram disabled"></ion-icon>
            <ion-icon name="logo-twitter" class="icon twitter disabled"></ion-icon>
        </div>


        <p class="contactUs__text bottom">
            Want to explore or otherwise stay on top of the latest developments in <span>virtual branding?</span>
        </p>
        <p class="contactUs__text bottomForm">
            <span>Sign up</span> here for more on how to become a player in the ever-evolving world of fashion in gaming.
        </p>

    </div>

    <main>
        <form [formGroup]="userForm">
            <label for="">Brand, Studio, Gamer?</label>
            <select name="typeBrandStudio&Game" id="" formControlName="typeSelect">
                <option *ngFor="let option of arraySelect" [value]="option">{{option}}</option>
            </select>

            <label for="">{{defaultUser}} Name*</label>
            <input class="input" type="text" formControlName="templateName"> 

            <label for="">Your Name*</label>
            <input class="input" type="text" formControlName="userName">

            <label for="">Email*</label>
            <input class="input" type="text" formControlName="userEmail">
        </form>

        <!-- <div class="contactUs__centerCheckbox">
            <input type="checkbox" id="checkb" [(ngModel)]="terms" [ngModelOptions]="{standalone: true}">
            <label for="checkb"></label>
            <p id="aceptTermsConditions">Terms and Conditions</p>
        </div> -->

        <div class="contactUs__centerButton">
            <button [disabled]="userForm.invalid">Submit</button>
            <!-- <p id="button_text">JUST SUBMIT, FOR NOW</p> -->
        </div>
    </main>


    <div class="iconsContainer">
        <ion-icon name="logo-linkedin" class="icon linkedin" (click)="openLinkedin()"></ion-icon>
        <ion-icon name="logo-discord" class="icon discord disabled"></ion-icon>
        <ion-icon name="logo-instagram" class="icon instagram disabled"></ion-icon>
        <ion-icon name="logo-twitter" class="icon twitter disabled"></ion-icon>
    </div>

        <p id="termsConditionsText">© 2024 INFINITE ON THE UPSIDE INC.  </p>

</section>
