<section class="contactUs">
    
    <div class="contactUs__centerText">
        <p class="termsConditionsTextLandscape none">© 2024 INFINITE ON THE UPSIDE INC.  </p>

        <h2 class="contactUs__Tittle">Join Us</h2>

        <div class="iconsContainerLandscape none">
            <img src="../../../assets/img/linkedIn.png" alt="">
            <img src="../../../assets/img/discord.png" alt="">
            <img src="../../../assets/img/instagram.png" alt="">
            <img src="../../../assets/img/twitt.png" alt="">
        </div>
    

        <p class="contactUs__text bottom">
            Want to explore or otherwise stay on top of the latest developments in <span>virtual branding?</span>
        </p>
        <p class="contactUs__text bottomForm">
            <span>Sign up</span> here for more on how to become a player in the ever-evolving world of fashion in gaming.
        </p>

    </div>

    <main>
        <form action="">
            <label for="">Brand Studio, Game?</label>
            <select name="typeBrandStudio&Game" id="" [(ngModel)]="typeSelector">
                <option value="Brand">Brand</option>
                <option value="Studio">Studio</option>
                <option value="Game">Game</option>
            </select>

            <label for="">{{typeSelector}} Name*</label>
            <input class="input" type="text" [(ngModel)]="typeName" [ngModelOptions]="{standalone: true}">

            <label for="">Your Name*</label>
            <input class="input" type="text" [(ngModel)]="userName" [ngModelOptions]="{standalone: true}"> 
            
            <label for="">Email*</label>
            <input class="input" type="text" [(ngModel)]="email" [ngModelOptions]="{standalone: true}">
        </form>

        <div class="contactUs__centerCheckbox">
            <input type="checkbox" id="checkb" [(ngModel)]="terms" [ngModelOptions]="{standalone: true}">
            <label for="checkb"></label>
            <p id="aceptTermsConditions">Terms and Conditions</p>
        </div>

        <div class="contactUs__centerButton">
            <button *ngIf="!disapair" (click)="submit(typeName, userName, email)" >Submit</button>
            <button *ngIf="disapair" id="submitted" (click)="submit(typeName, userName, email)" >Submit</button>
            <p id="button_text">JUST SUBMIT, FOR NOW</p>
        </div>
    </main>    


    <div class="iconsContainer">
        <img src="../../../assets/img/linkedIn.png" alt="">
        <img src="../../../assets/img/discord.png" alt="">
        <img src="../../../assets/img/instagram.png" alt="">
        <img src="../../../assets/img/twitt.png" alt="">
    </div>

        <p id="termsConditionsText">© 2024 INFINITE ON THE UPSIDE INC.  </p>

</section>
