h2, p{
    margin: 0;
    padding: 0;
}

main{
    width: 100%;
    max-width: 497px;
}

.contactUs{
    width: 100%;
    min-height: 100%;
    background: linear-gradient(to bottom, #09090A, #1F3325);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contactUs__centerText{
    width: 100%;
    max-width: 497px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contactUs__Tittle {
    padding-right: 40px;
    margin-block:35px;
    font-size: 32px;
    font-weight: 500;
    font-family: "Medium";
    background: linear-gradient(to right, #F8F1F8, #798F83);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    position: sticky;
    top: 30px;
}

.bottom{
    margin-bottom: 15px;
}

.bottomForm{
    margin-bottom: 24px
}

.contactUs__text{
    line-height: 157%;
    padding-inline: 35px;
    font-size: 16px;
    font-weight: 400;
    font-family: "Poppins";
    color: #B9C3B8;
}

@media screen and (min-width: 432px) and (max-width: 768px){
    .contactUs__text{
        text-align: center;
    }   
}

span{
    font-size: 16px;
    font-weight: 600;
    font-family: "Poppins";
    color: #C6C6C6;
}

.icon{
    font-size: 29px;
    color: white;
}

.disabled{
    color: #4e5650;
}

.icon.disabled{
    color: #4e5650;
}

form{
    width: 100%;
    padding-inline: 35px;
    display: flex;
    flex-direction: column;
    margin-top: 30px;
}

label{
    font-size: 14px;
    font-weight: 400;
    font-family: "Poppins";
    color: #B2B2B2;
    margin-bottom: 21px;
}

.input, select{
    width: 100%;
    background-color: rgba(0, 0, 0, 0);
    border: none;
    border-bottom: 1px solid #B2B2B2;
    margin-bottom: 37px;
    color: #FFF;
    font-weight: 500;
    font-family: "Poppins";
}

input:focus{
    outline: none;
}

select option{
    color: #747171; 
    font-weight: 500;
    font-family: "Poppins";
}

.contactUs__centerCheckbox{
    display: flex;
    width: 320px;
    flex-direction: row;
    align-items: center;
    margin-bottom:37px;
    padding-left:40px;
}

#aceptTermsConditions{
    margin-left: 11px;
    color: #FFFFFF; 
    font-weight: 500;
    font-size: 12px;
    font-family: "Poppins";
    text-decoration-line: underline;
}

#checkb {
    width: 18px;
    height: 18px;
    cursor: pointer;
    border: 1px solid #B2B2B2; 
    border-radius: 3px; 
}

.contactUs__centerButton{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 92px;
}

button{
    width:237px;
    height:41px;
    border-radius: 11px;
    background-color: #878C88;
    color: #fdfdfd;
    border-style: none;
    font-weight: 500;
    font-size: 16px;
    font-family: "Poppins";
    margin-bottom: 18px;   
}

#button_text{
    font-weight: 500;
    font-size: 14px;
    font-family: "Poppins";
    color: #fff; 
}

#termsConditionsText{
    font-weight: 500;
    font-size: 10px;
    font-family: "Poppins";
    margin-bottom: 15px; 
    color: #fff; 
}

.iconsContainer{
    width: 320px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 27px;
    gap: 30px;
}

img{
    padding-inline: 10px;
}

.none{
    display: none;
}

#submitted{
    background-color: #F2F9F4;
    color: #1F2122;
}

@media screen and (min-width: 768px) {
    .contactUs{
        position: relative;
        flex-direction: row;
        justify-content: center;
    }

    .contactUs__Tittle{
        font-size: 40px;
        margin: 0;
    }

    .contactUs__text{
        text-align: end;
    }

    .contactUs__centerText{
        align-items: flex-end;
    }

    #termsConditionsText {
        display:none;
        /* position: absolute;
        top: 37%;
        right: 54%;
        transform: translateY(-50%); */
    }

    .iconsContainer {
        display:none;
        /* position: absolute;
        top: 43%;
        right: 48%;
        transform: translateY(-50%); */
    }

    .termsConditionsTextLandscape{
        display: block;
        font-weight: 500;
        font-size: 10px;
        font-family: "Poppins";
        color: #fff; 
        padding-right:40px;
        margin-bottom:19px;
    }

    .iconsContainerLandscape {
        width: 320px;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        margin-top:20px;
        padding-right: 40px;
    }
}

@media screen and (min-width: 1440px) {
    .termsConditionsTextLandscape{
        font-size: 13px;
        padding-right:20px;
    }

    .contactUs__Tittle{
        padding-right:20px;
        font-size: 48px;
        margin: 0;
    }

    .iconsContainerLandscape {
        padding-right: 20px;
    }

    .contactUs__centerText{
        font-size:20px;
        padding-right: 20px;
    }

    .contactUs__centerText{
        padding: 0;
    }

    label{
        font-size: 20px;
    }

    select, .input{
        font-size: 25px;
    }

    button{
        height: 50px;
        font-size:18px;
    }

    #button_text{
        font-size: 16px;
    }

    #checkb{
        width: 20px;
        height: 20px;
    }

    #aceptTermsConditions{
        font-size: 14px;
    }
}