<section class="blackBackround">
    <img class="close" src="../../../assets/img/Vector.png" alt="" (click)="close()" >
    <div class="views">
        <a href="#aboutUs" (click)="close()" class="view">ABOUT US</a>
        <a href="" class="view disabled">SERVICES</a>
        <a href="" class="view disabled">PARTNERS</a>
        <a href="#joinUs" (click)="close()" class="view joinUs">JOIN US</a>
    </div>

    <div class="socialMediaIcons">
        <ion-icon name="logo-linkedin" class="icon linkedin"></ion-icon>
        <ion-icon name="logo-discord" class="icon discord disabled"></ion-icon>
        <ion-icon name="logo-instagram" class="icon instagram disabled"></ion-icon>
        <ion-icon name="logo-twitter" class="icon twitter disabled"></ion-icon>
    </div>
</section>
