<section class="blackBackround" [ngClass]="{'show': showMenu}">
    <img class="close" src="../../../assets/img/Vector.png" alt="" (click)="close()" >
    <div class="views">
        <h2 class="view">ABOUT US</h2>
        <h2 class="view joinUs">JOIN US</h2>
    </div>

    <div class="socialMediaIcons">
        <img src="../../../assets/img/linkedInaHam.png" alt="" class="icon linkedin">
        <img src="../../../assets/img/discordHam.png" alt="" class="icon discord">
        <img src="../../../assets/img/instagramHam.png" alt="" class="icon instagram">
        <img src="../../../assets/img/twittHam.png" alt="" class="icon twitter">
    </div>
</section>
