<section class="blackBackround">
    <img class="close" src="../../../assets/img/Vector.png" alt="" (click)="close()" >
    <div class="views">
        <a href="#aboutUs" (click)="close()" class="view">ABOUT US</a>
        <a href="" class="view disabled">SERVICES</a>
        <a href="" class="view disabled">PARTNERS</a>
        <a href="#joinUs" (click)="close()" class="view joinUs">JOIN US</a>
    </div>

    <div class="socialMediaIcons">
        <img src="../../../assets/img/linkedInaHam.png" alt="" class="icon linkedin">
        <img src="../../../assets/img/discordHam.png" alt="" class="icon discord">
        <img src="../../../assets/img/instagramHam.png" alt="" class="icon instagram">
        <img src="../../../assets/img/twittHam.png" alt="" class="icon twitter">
    </div>
</section>
