<div class="splash__globalWrapper">
    <picture>
      <source media="(min-width: 1728px)" srcset="assets/img/KRIPTOGRAPHIC_logo-desktop.png" />
      <source media="(min-width: 1024px)" srcset="assets/img/KRIPTOGRAPHIC_logo-laptop.png" />
      <source media="(min-width: 393px)" srcset="assets/img/KRIPTOGRAPHIC_logo-portrait.png" />
      <img
        class="splash__logoSrcSet"
        src="assets/img/KRIPTOGRAPHIC_logo-desktop.png"
        alt="KRIPTOGRAPHIC logo"
        (load)="onImageLoad()"
      />
    </picture>
  
    <h1 class="splash__bannerText">
      <span class="splash__callToAction">
        The key<br />to brands
      </span>
      <span class="splash__callToAction landscape">The key to brands</span>
      <br />
      and game studios unlocking realistic virtual&nbsp;<span class="bannerText__fancy">experiences.</span>
    </h1>
  
    <picture>
      <source media="(min-width: 1728px)" srcset="assets/pages/splash/landscape/green-jacket_landscape-splash.png" />
      <source media="(min-width: 1024px)" srcset="assets/pages/splash/tablet/green-jacket_tablet-splash.png" />
      <source media="(min-width: 393px)" srcset="assets/pages/splash/mobile/green-jacket_mobile-splash.png" />
      <img
        class="splash__bannerJacket"
        src="assets/pages/splash/landscape/green-jacket_landscape-splash.png"
        alt="Banner img, green jacket in a racket"
        (load)="onImageLoad()"
      />
    </picture>
  
    <img
      class="splash__kgLogo"
      src="assets/pages/splash/landscape/kg_logo.png"
      alt="Banner img, green jacket in a racket"
      (load)="onImageLoad()"
    />
    <img
      class="splash__balenci"
      src="assets/pages/splash/landscape/balenciaga_logo.png"
      alt="Banner img, green jacket in a racket"
      (load)="onImageLoad()"
    />
    <img
      class="splash__lv"
      src="assets/pages/splash/landscape/LV_logo.png"
      alt="Banner img, green jacket in a racket"
      (load)="onImageLoad()"
    />
    <img
      class="splash__northFace"
      src="assets/pages/splash/landscape/north-face_logo.png"
      alt="Banner img, green jacket in a racket"
      (load)="onImageLoad()"
    />
    <img
      class="splash__gucci"
      src="assets/pages/splash/landscape/gucci_logo.png"
      alt="Banner img, green jacket in a racket"
      (load)="onImageLoad()"
    />
  </div>
  