/* CODE MOBILE */
:host{
    display: block;
    min-height: 100%;
    height: 852px;
    width: 100%;
    padding-top: 63.5px;
    padding-left: 45px;
    background: linear-gradient(180deg, #070707 46%, #00040C 100%);
    overflow-x: hidden;
    position: relative;
    /* overflow-y: visible; */
}

.splash__logoSrcSet{
    position: relative;
    z-index: 1;
}

.splash__bannerText{
    color: #7071E7;
    font-size: 29px;
    font-family: Lufga;
    font-weight: 400;
    line-height: 28px;
    word-wrap: break-word;
    position: relative;
    z-index: 1;
    max-width: 265px;
}

.splash__callToAction{
    color: #E9EDFF;
    font-size: 47px;
    font-family: Lufga;
    font-weight: 700;
    line-height: 39px;
    word-wrap: break-word;
}

.splash__kripto{
    color: #00FFA9;
    font-size: 60px;
    font-family: Lufga;
    font-weight: 700;
    line-height: 39px;
    word-wrap: break-word;
}

.bannerText__fancy{
    color: #F0F3FF;
    font-size: 36px;
    font-family: Garamond;
    font-weight: 400;
    word-wrap: break-word;
}

.splash__bannerJacket{
    width: 525px;
    margin-left: -45px;
    position: absolute;
    right: -65px;
    top: 327px;
    z-index: 1;
}

.splash__kgLogo{
    position: absolute;
    top: -14px;
    right: -57px;
    width: 218px;
    z-index: 0;
}

.splash__balenci{
    width: 184px;
    position: absolute;
    right: 77px;
    top: 422px;

    transform: rotate(-5.44deg);
    transform-origin: 0 0;
    /* box-shadow: 2px 2px 2px; */
    filter: blur(1px);
}

.splash__lv{
    width: 58px;
    transform: rotate(1.56deg);
    transform-origin: 0 0;
    /* box-shadow: 1px 1px 1px; */
    filter: blur(0.8px);
    position: absolute;
    top: 420px;
    right: 318px;
}

.splash__northFace{
    width: 101px;
    transform: rotate(-7.19deg);
    transform-origin: 0 0;
    /* box-shadow: 2px 2px 2px; */
    filter: blur(1px);
    position: absolute;
    top: 770px;
    right: 232px;
}

.splash__gucci{
    width: 52px;
    transform: rotate(-5.78deg);
    transform-origin: 0 0;
    /* box-shadow: 1px 1px 1px; */
    filter: blur(0.8px);
    position: absolute;
    top: 541px;
    right: 11px;
}

/* BREAKPOINT MOBILE 2 */
@media screen and (min-width: 730px) {
    :host{
        height: 606px;
    }

    .splash__bannerJacket{
        bottom: 0;
        right: calc(-65px - 42px);
        top: unset;
    }
    
    .splash__balenci{
        bottom: 352px;
        right: calc(77px - 42px);
        top: unset;
    }
    
    .splash__lv{
        bottom: 374px;
        right: calc(420px - 135px);
        top: unset;
    }
    
    .splash__northFace{
        bottom: 15px;
        right: calc(232px - 42px);
        top: unset;
    }
    
    .splash__gucci{
        bottom: 255px;
        top: unset;
    }
}

/* BREAKPOINT TABLET */
@media screen and (min-width: 1024px) {
    :host{
        padding-top: 61.7px;
        padding-left: 60px;
    }
}

/* BREAKPOINT LANDSCAPER */
@media screen and (min-width: 1728px) {
    :host{
        padding-top: 202.5px;
        padding-left: 202px;
    }
}