:host{
    display: block;
    height: 100%;
    width: 100%;
    background-color: #010101;
}

#sphere{
    position: absolute;
    z-index: 0;
}

:host > div{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-direction: column;
    padding-inline: 25px;
    padding-block: 30px;
}

header{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0px;
    padding-block: 30px;
    padding-inline: 25px;
    z-index: 2;
    max-width: 1300px;
}

header::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(9, 9, 10, 0.5);
    backdrop-filter: blur(2px); 
    z-index: -1;
}

.ham-menu{
    width: 35px;
    display: flex;
    flex-direction: column;
    gap: 6px;
    cursor: pointer;
}

.patty{
    width: 100%;
    height: 3px;
    background-color: #bce3a4;
}

img{
    height: 37px;
}

.splash-title{
    font-family: 'Medium';
    color: white;
    width: min-content;
    text-align: center;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 1;
}

.splash-text{
    font-family: 'Poppins';
    color: #6C786A;
    text-align: center;
    font-size: 12px;
}

#splashCanvas{
    position: absolute;
    top: 0;
    filter: blur(50px);
}

@media screen and (min-width: 768px){
    .splash-title{
        font-size: 91px;
    }
}

app-ham-menu{
    transition: 300ms left;
    left: -100%;
    position: fixed;
    top: 0
}

.show{
    left: 0;
}
