<div class="about__globalContainer">
    <div class="about__mainText">
      <h2 class="aboutUs__title">About Us</h2>
      <p class="aboutUs__text a1">
        <img
          src="../../../assets/img/Group 1.png"
          class="logoText"
          alt=""
          (load)="onImageLoad()"
        />
        is the only gaming fashion house that creates
        <span class="aboutUs__text greenColor">in-game style</span>
        for real-world
        <span class="aboutUs__text fashion">fashion</span> brands.
      </p>
    </div>
    <p class="aboutUs__text last">
      Recent generations of consumers have grown up with gaming platforms as a
      core source of entertainment and&nbsp;
      <span class="aboutUs__text greenColor">interaction.</span>
    </p>
    <img
      src="../../../assets/pages/services/landscape/jacket-1-landscape.png"
      class="jacketsPosition__v1"
      alt=""
      (load)="onImageLoad()"
    />
    <img
      src="../../../assets/pages/services/landscape/jacket-2-landscape.png"
      class="jacketsPosition__v2"
      alt=""
      (load)="onImageLoad()"
    />
    <p class="aboutUs__textEnd">
      By connecting<br class="dissapear" />
      real-world brands with this universe,<br />
      <img
        src="../../../assets/img/Group 1.png"
        class="logoText"
        alt=""
        (load)="onImageLoad()"
      />
      expands how brands market their fashions, connect with consumers, and
      generate new revenue streams, all within the
      <span class="aboutUs__text greenColor">gaming ecosystem.</span>
    </p>
    <img
      src="../../../assets/pages/services/landscape/hook-jacket-landscape.png"
      class="aboutUs__pendant"
      alt=""
      (load)="onImageLoad()"
    />
  </div>
  <div class="aboutUs__pendantFloor"></div>
  