.aboutUs{
    width: 100%;
    min-height: 100%;
    background: linear-gradient(to bottom, #00040C 54%, #595AA0 100%);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    position: relative;
}

.aboutUs__container {
    padding-inline: 43px;
    margin-bottom: 220px;
}

.aboutUs__title {
    font-size: 60px;
    font-weight: 600;
    font-family: Lufga;
    color: #00FFA9;
    text-align: start;
    margin-top: 25px;
    margin-bottom: 41px;
}

.greenColor {
    color: #00FFA9 !important;
}

.fashion {
    font-family: 'Garmond' !important;
    color: #7071E7 !important;
    font-size: 23px !important;
    font-weight: 500 !important;
}

.aboutUs__text {
    text-align: start;
    font-size: 18px;
    font-weight: 500;
    font-family: Lufga;
    color: #fff;
    max-width: 307px;
}

.a1 {
    margin-bottom: 17px;
}

/* .aboutUs__jacketsPosition {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 23px;
} */

.jacketsPosition__v1 {
    position: absolute;
    width: 317px;
    top: 297px;
    transform: rotate(-12deg);
    left: -111px;
}

.jacketsPosition__v2 {
    position: absolute;
    height: 154px;
    top: 327px;
    right: 4px;
    transform: rotate(5deg);
}

.aboutUs__textEnd {
    text-align: end;
    width: 100%;
    font-size: 18px;
    font-weight: 500;
    font-family: Lufga;
    color: #fff;
    margin-bottom: 18px;
    max-width: 307px;
    margin-top: 26px;
}

.aboutUs__pendantContainer {
}

.aboutUs__pendantContainer {
    width: 100%;
    /* display: flex;
    flex-direction: column;
    justify-content: start; */
}

.aboutUs__pendant{
    position: relative;
    z-index: 1;
    top: 48px;
    width: 376px;
}

.aboutUs__pendantFloor{
    width: 100%;
    height: 45px;
    position: relative;
    z-index: 0;
    background-color: #080805;
}

@media screen and (min-width: 1024px) {
    .aboutUs__title {
        font-size: 115px;
    }

    .aboutUs__container {
        padding-inline: 104px;
        margin-bottom: 362px;
    }

    .aboutUs__text {    
        font-size: 40px;
        max-width: 1024px;
    }

    .aboutUs__textEnd {
        font-size: 40px;
        padding-inline: 104px;
        max-width: 1024px;
    }

    .fashion {
        font-size: 48px !important;
    }
    
    .logoText {
        width:114px;
        height: 42px;
    }
    
    .jacketsPosition__v1{
        width: 495px;
        top: 438px;
        transform: rotate(-12deg);
        left: -111px;
    }

    .jacketsPosition__v2 {
        height: 297px;
        top: 511px;
        right: 54px;
        transform: rotate(5deg);
    }

    .aboutUs__pendant {
        width: 500px;
        height: 500px;
        position: relative;
        z-index: 1;
        top: 69px;
    }
    
    .aboutUs__pendantFloor {
        width: 100%;
        position: relative;
        z-index: 0;
        background-color: #0E0F08;
    }
}

@media screen and (min-width: 500px){
    .jacketsPosition__v1 {
        left: -27px;
    }
    
    .jacketsPosition__v2 {
        right: 69px;
    }
}

@media screen and (min-width: 1728px) {
    .aboutUs {
        align-items: start;
    }

    .aboutUs__title {
        font-size: 200px;
    }

    .aboutUs__container {
        padding-left: 120px;
        margin-bottom: 36px;
    }

    .aboutUs__text {    
        font-size: 32px;
    }

    .aboutUs__textEnd {
        font-size: 32px;
        padding-right: 120px;
        padding-left: 800px;
        max-width: 100%;
    }

    .fashion {
        font-size: 42px !important;
    }
    
    .logoText {
        width:84px;
        height: 31px;
    }
    
    .jacketsPosition__v1{
        width: 673px;
        height: 552px;
        top: 570px;
        left: 345px;
    }

    .jacketsPosition__v2 {
        width: 676px;
        height: 452px;
        transform: rotate(8deg);
        padding-right: 82px;
        top: 150px;
        right: 6px;
    }

    .aboutUs__pendant {
        width: 493px;
        height: 489px;
        position: relative;
        z-index: 1;
        top: 69px;
    }
    
    .aboutUs__pendantFloor {
        width: 100%;
        height: 31px;
        position: relative;
        z-index: 0;
        background-color: #0E0F08;
    }
}
    