<section class="aboutUs" id="aboutUs">

    <div class="aboutUs-container">
        <h2 class="aboutUs__tittle" id="about-us">ABOUT US</h2>
        <p class="aboutUs__text">KriptoGraphic is the only gaming fashion house that creates in-game style for real-world brands.</p>
        <p class="aboutUs__text">Recent generations of consumers have grown up with gaming platforms as a core source of entertainment and interaction.</p>
        <p class="aboutUs__text dott">By connecting real-world brands with this universe, KriptoGraphic expands how brands market their fashions, connect with consumers, and generate new revenue streams, all within the gaming ecosystem.</p>


    </div>


    <img  class="aboutUs__3dJacket" src="../../../assets/img/Comp 1.gif" alt="">


</section>

<!--
<h1 #h1>
    CARGANDO
</h1> -->
