:host{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 916px;
    max-height: 916px;
    padding-top: 45px;
    padding-left: 42px;
    background: linear-gradient(to bottom, #00040C 54%, #595AA0 100%);
    position: relative;
}

.about__globalContainer{
    position: relative;
    width: 100%;
    max-width: 393px;
}

.about__mainText, .aboutUs__text{
    max-width: 321px;
    line-height: 16px;
}

.aboutUs__title {
    font-size: 60px;
    line-height: 50px;
    font-weight: 600;
    font-family: Lufga;
    color: #00FFA9;
    text-align: start;
    margin-bottom: 25px;
    width: fit-content;
}

.greenColor {
    color: #00FFA9 !important;
    font-weight: 600 !important;
}

.fashion {
    font-family: 'Garamond' !important;
    color: #7071E7 !important;
    font-size: 23px !important;
    font-weight: 500 !important;
}

.aboutUs__text {
    font-weight: 400;
    text-align: start;
    font-size: 18px;
    /* font-weight: 500; */
    font-family: Lufga;
    color: #fff;
}

.aboutUs__text.last{
    margin-bottom: 219px;
}

.a1 {
    margin-bottom: 17px;
}

/* .aboutUs__jacketsPosition {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 23px;
} */

.jacketsPosition__v1{
    position: absolute;
    width: 320px;
    top: calc(254px - 45px);
    transform: rotate(-8.02deg);
    transform-origin: 0 0;
    left: calc(-111px - 42px);
}

.jacketsPosition__v2 {
    position: absolute;
    height: 154px;
    top: 274px;
    right: 4px;
    transform: rotate(5deg);
    filter: blur(0.8px);
}

.aboutUs__textEnd {
    position: relative;
    color: #F0F3FF;
    font-size: 18px;
    font-family: Lufga;
    font-weight: 400;
    line-height: 18px;
    word-wrap: break-word;
    text-align: right;
    max-width: 307px;   
}

.aboutUs__pendantContainer {
    position: relative;
    margin-left: -42px;
    width: calc(100% + 42px);
}

.aboutUs__pendant{
    position: relative;
    z-index: 1;
    width: 305px;
}

.aboutUs__pendantFloor{
    width: 100%;
    height: 45px;
    position: absolute;
    bottom: -4px;
    left: 0;
    z-index: 0;
    background-color: #080805;
}

.logoText {
    width: 50px;
    height: auto;
}

@media screen and (min-width: 1024px) {
    :host{
        height: 1428px;
        max-height: 1392px;
        padding-top: 100px;
        padding-left: 100px;
    }

    .about__mainText, .aboutUs__text{
        max-width: 951px;
        line-height: 36px;
    }

    .about__globalContainer{
        max-width: 1024px;
    }

    .aboutUs__title {
        font-size: 115px;
        line-height: 95px;
    }

    .aboutUs__text {    
        font-size: 40px;
        max-width: 1024px;
    }

    .aboutUs__textEnd {
        font-size: 40px;
        max-width: 1024px;
        line-height: 36px;
    }

    .aboutUs__text.last{
        margin-bottom: 311px;
    }

    .fashion {
        font-size: 48px !important;
    }
    
    .logoText {
        width: 68px;
        height: auto;
    }
    
    .jacketsPosition__v1{
        width: 495px;
        top: calc(509px - 100px);
        transform: rotate(-8.02deg);
        transform-origin: 0 0;
        left: calc(-152px - 100px);
    }

    .jacketsPosition__v2 {
        height: 297px;
        top: calc(520px - 100px);
        right: 60px;
        transform: rotate(5.96deg);
    }

    .a1{
        margin-bottom: 35px;
    }

    .aboutUs__pendant {
        width: 500px;
        height: 500px;
        position: relative;
        z-index: 1;
        top: -69px;
    }

    .aboutUs__pendantFloor{
        height: 60px;
        bottom: 0;
    }
}
@media screen and (min-width: 1728px) {
    :host{
        height: 1117px;
        max-height: 1117px;
        padding-top: 120px;
        padding-left: 120px;
    }

    .about__globalContainer{
        max-width: 1728px;
        height: 100%;
    }

    .about__mainText, .aboutUs__text {
        max-width: 970px;
        line-height: 36px;
        font-size: 32px;
        line-height: 30px;
        font-weight: 300;
    }

    .aboutUs__title{
        font-size: 200px;
        line-height: 148px;
    }

    .aboutUs__text.last{
        margin-bottom: 49px;
    }

    .aboutUs__textEnd{
        position: absolute;
        right: 128px;
        font-size: 32px;
        font-weight: 300;
        line-height: 30px;
        max-width: 827px;
    }

    .jacketsPosition__v1{
        left: calc(334px - 120px);
        top: calc(482px - 120px);
    }

    .jacketsPosition__v2{
        width: 363.97px;
        height: 363.97px;
        transform: rotate(9.59deg);
        transform-origin: 0 0;
        top: calc(70px - 120px);
        right: 221px;
    }

    .aboutUs__text{
        max-width: 788px;
        line-height: 30px;
        font-weight: 300;
    }

    .dissapear{
        display: none;
    }

    .aboutUs__pendant{
        position: absolute;
        left: calc(46px - 120px);
        bottom: 0;
        top: unset;
    }

    .aboutUs__pendantFloor{
        height: 64px;
        bottom: 0;
    }
}
    