/* You can add global styles to this file, and also import other style files */
html,
body{
    height: 100%;
    min-height: 100%;
    width: 100%;
    min-width: 100%;
    margin: 0;
    background-color: #010101;
}

body{
    display: flex;
    justify-content: center;
}

canvas{
    touch-action: auto !important;
}

h2, p{
    margin: 0;
    padding: 0;
}

*{
    margin: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: 'Medium';
    src: url('assets/fonts/Medium/medium.otf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Lufga';
    src: url('assets/fonts/lufga/LufgaMedium.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'LufgaLight';
    src: url('assets/fonts/lufga/LufgaLight.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}


@font-face {
    font-family: 'LufgaBold';
    src: url('assets/fonts/lufga/LufgaBold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Garmond';
    src: url('assets/fonts/Garamond/ITC\ Garamond\ Std\ Light\ Condensed.otf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

strong{
    color: #7071E7;
    font-family: 'LufgaBold';
}