/* You can add global styles to this file, and also import other style files */
html,
body{
    height: 100%;
    min-height: 100%;
    width: 100%;
    min-width: 100%;
    margin: 0;
    background-color: #09090A;
}

*{
    margin: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: 'Medium';
    src: url('assets/fonts/Medium/medium.otf') format('truetype');
    font-weight: normal;
    font-style: normal;
}