@font-face {
    font-family:'Hypermarket';
    src: url('../../../assets/fonts/hypermarket/Hypermarket-Exp.ttf') format('truetype');
}

h2, p{
    margin: 0;
    padding: 0;
}

main{
    width: 100%;
    max-width: 497px;
}

.services{
    width: 100%;
    min-height: 100%;
    background-color: #09090A;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.services__tittle{
    font-size: 32px;
    font-weight: 500;
    font-family: Medium;
    background-image: linear-gradient(to right, #F8F1F8 50%, #798F83 100%);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    text-align: center;
    margin-top: 35px;
    margin-bottom: 86px;
}

.services__cards{
    width: 100%;
    min-height: 425px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
}

.showCard__rowCard{
    margin-top: 22px;
    width: 256px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.rowCard__xl{
    padding-left: 28px;
}

.rowCard__qr{
    padding-right:20px ;
}

.rowCard__circle{
    width:28px;
    height: 28px;
    border-radius: 50%;
    background-color: #0B090E;
}

.showCard__columnCard{
    width: 256px;
    display: flex;
    flex-direction: column;
    align-items: center ;
}

.columnCard__tittle{
    font-size: 32px;
    font-weight:500;
    font-family: 'Hypermarket';
    color: #000000;
    padding-left: 18px;
    margin-bottom: 20px;
}

.columnCard__text{
    font-size: 12px;
    font-weight:500;
    font-family: 'Hypermarket';
    align-content: start;
    color: #050505;
    padding-inline: 18px;
    margin-bottom:17px;
}

.columnCard__barcode{
    width: 218px;
}

.services__buttons{
    width: 100%;
    height: 37px;
    display: flex;
    flex-direction: row;
    justify-content: center
}

.services__left{
    width:36px;
    height:36px;
    border-radius: 50%;
    background-color: #09090A;
    border: 1px solid #fff ;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right:44px;
    transform: rotate(90deg);
}

.services__right{
    transform: rotate(90deg);
}

.services__background{
    display: none;
}

.services__showCard{
    width: 256px;
    height: 425px;
    background-color: #FFFFFF;
    position: absolute;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    transition: z-index 0.2s; 
    Left: 50%;
    transform: translateX(-50%);
}

.card1 {
    z-index: 3;
    top: 0;
    transition: transform 0.2s;
  }

  .card2 {
    z-index: 2;
    top: 33px; 
    transition: transform 0.2s;
  }

  .card3 {
    z-index: 1;
    transition: transform 0.2s;
  }

.animacion{
    animation: cardAnimation 2s ease-in-out infinite alternate;
}

.services__cardkeeper{
    display: none;
}

@keyframes cardAnimation{
    0%{
        transform: translateY(0);
    }50%{
        transform:translateY(-400px);
    }100%{
        transform: translateY(0);
    }
}


@media screen and (min-width: 767px){
    .services{
        position: relative;
        overflow: visible; 
        width: 100%; 
        z-index: 1;
    }

    .services__cards{
        width: 100%;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center
    }

    .services__showCard{
        position: static;
    }

    .services__cardkeeper{
        width: 212px;
        height: 339px;
        background-color: #FFF;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        z-index: 1;
    }

    .services__circle{
        width:28px;
        height: 28px;
        border-radius: 50%;
        background-color: #0B090E;
        margin-top: 20px;
    }

    .services__ia{
        font-size: 21px;
        font-weight:500;
        font-family: 'Hypermarket';
        align-content: start;
        color: #000;
        text-align: center;
    }

    .services__kriptographic{
        font-size: 8px;
        font-weight:500;
        font-family: 'Hypermarket';
        align-content: start;
        color: #050505;
        margin-bottom:14px;
    }

    .stackedCards{
        display: block;
        position: absolute;
        z-index: 3;
        left: 453px;
    }

    .services__background{
        display: block;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%) scale(1.5); 
        width: 67%;
        z-index: 0;
    }

    /* .card1 {
        z-index: 3;
        top: 85px;
      }
    
      .card2 {
        z-index: 2;
        top: 42px; 
      }
    
      .card3 {
        z-index: 1;
        top: 86px; 
      } */

      .services__buttons{
        position: absolute;
        z-index: 3;
        top: 700px;
      }

}