<section class="services">
    <h2 class="services__tittle">SERVICES</h2>

    <div class="services__cards ">

        <div class="services__showCard " *ngFor="let card of cardArray">
            <div class="showCard__rowCard">
                <img class="rowCard__xl" src="../../../assets/img/XL.png" alt="xlImg">
                <div class="rowCard__circle"></div>
                <img class="rowCard__qr" src="../../../assets/img/qrcode 1.png" alt="qrCode">
            </div>
            <div class="showCard__columnCard">
                <h2 class="columnCard__tittle">{{card.title}}</h2>
                <h2 class="columnCard__text">
                    {{card.content}}
                </h2>
                <img class="columnCard__barcode" src="../../../assets/img/barcode.png" alt="barcode">
            </div>
        </div>
        <!-- <div class="services__showCard card1 " [ngClass]="{'animacion': animacionActiva && tarjetaActiva === 1}">
            <div class="showCard__rowCard">
                <img class="rowCard__xl" src="../../../assets/img/XL.png" alt="xlImg">
                <div class="rowCard__circle"></div>
                <img class="rowCard__qr" src="../../../assets/img/qrcode 1.png" alt="qrCode">
            </div>
            <div class="showCard__columnCard">
                <h2 class="columnCard__tittle">GAMER INSIGHTS</h2>
                <h2 class="columnCard__text">
                    Harness the power of consumer behavior data to tailor gaming experiences to player preferences.
                    This data-driven approach informs strategic decisions, ensuring that branded content resonates with gamers,
                    drives engagement, and cultivates lasting brand affinity.
                </h2>
                <img class="columnCard__barcode" src="../../../assets/img/barcode.png" alt="barcode">
            </div>
        </div>
        <div class="services__showCard card2" [ngClass]="{'animacion': animacionActiva && tarjetaActiva === 2}">
            <div class="showCard__rowCard">
                <img class="rowCard__xl" src="../../../assets/img/XL.png" alt="xlImg">
                <div class="rowCard__circle"></div>
                <img class="rowCard__qr" src="../../../assets/img/qrcode 1.png" alt="qrCode">
            </div>
            <div class="showCard__columnCard">
                <h2 class="columnCard__tittle">GAMER INSIGHTS</h2>
                <h2 class="columnCard__text">
                    Harness the power of consumer behavior data to tailor gaming experiences to player preferences.
                    This data-driven approach informs strategic decisions, ensuring that branded content resonates with gamers,
                    drives engagement, and cultivates lasting brand affinity.
                </h2>
                <img class="columnCard__barcode" src="../../../assets/img/barcode.png" alt="barcode">
            </div>
        </div>
        <div class="services__showCard card3" [ngClass]="{'animacion': animacionActiva && tarjetaActiva === 3}">
            <div class="showCard__rowCard">
                <img class="rowCard__xl" src="../../../assets/img/XL.png" alt="xlImg">
                <div class="rowCard__circle"></div>
                <img class="rowCard__qr" src="../../../assets/img/qrcode 1.png" alt="qrCode">
            </div>
            <div class="showCard__columnCard">
                <h2 class="columnCard__tittle">GAMER INSIGHTS</h2>
                <h2 class="columnCard__text">
                    Harness the power of consumer behavior data to tailor gaming experiences to player preferences.
                    This data-driven approach informs strategic decisions, ensuring that branded content resonates with gamers,
                    drives engagement, and cultivates lasting brand affinity.
                </h2>
                <img class="columnCard__barcode" src="../../../assets/img/barcode.png" alt="barcode">
            </div>
        </div> -->
    </div>


    <div class="services__buttons">
        <button class="services__left">
            <img src="../../../assets/img/left card button.png" alt="left">
        </button>   
        <img (click)="iniciarAnimacion()" class="services__right" src="../../../assets/img/right card button.png" alt="right">
    </div>
    <img class="services__tabletBackground" src="../../../assets/img/backgorund empty.png" alt="">
</section>
