.services{
    width: 100%;
    min-height: 100%;
    background-color: #595AA0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.services__title{
    width: 288px;
    font-size: 60px;
    font-weight: 600;
    font-family: Lufga;
    color: #00FFA9;
    text-align: start;
    margin-top: 38px;
    margin-bottom: 25px;
}

.services__cardsContainer{
    position: relative;
    width: 100%;
    min-height:412px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cardsContainer__card{
    position: absolute;
    width: 288px;
    height: 277px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 27px;
    padding-top: 16px;
    padding-bottom: 31px;
    background-color: #FFFFFF;
    filter: drop-shadow(4px 6px 10px rgba(0, 0, 0, 0.25));
    
}

.card__title{
    font-size: 36px;
    font-weight:600;
    font-family: 'Lufga';
    color: #7071E7;
    text-align: start;
    margin-bottom:19px;
    padding-left:14px;
    word-spacing: 0px;
    line-height: 36px;

}

.card__text{
    font-size: 18px;
    font-weight: 500;
    font-family: "LufgaLight";
    align-content: start;
    color: #1D1D26;
    padding-left: 14px;
    word-spacing: -3px;
    line-height: 17.5px;
    margin-bottom:27px;
}

.card1 {
    transform: rotate(3deg); 
    z-index: 3;
    top: 0;
    transition: transform 0.2s;
}

.card2 {
    transform: rotate(-4.25deg); 
    z-index: 2;
    top: 10px;
    transition: transform 0.2s;
}

.card3 {
    transform: rotate(5.21deg); 
    z-index: 1;
    top: 0px;
    transition: transform 0.2s;
}

.cardsContainer__divisionLine {
    border-top: 1px dotted #1D1D26;
    width: 231.99px;
    height: 0;
}

.cardsContainer__barcodeContainer {
    width: 289px;
    min-height: 88px !important;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 27px;
    background-color: #FFFFFF;
}

.barcodeContainer__barcode{
    width: 250px; 
    height: 60px; 
    object-fit: contain; 
}

.services__buttons{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-right: 74px;
}

.right{
    font-size: 30px;
    color: #E7E7E7;
    margin-right: 36px;
}

.left{
    font-size: 30px;
    color: #00FFA9;
}

/* .services__cardkeeper{
    display: none;
} */

/* .switcher{
    font-size: 19px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
    color: white;
    transition: opacity 500ms;
    opacity: 100;
    text-align: center;
    max-width: 220px;
}

.dissapear{
    opacity: 0;
} */

