<div class="transitionGradient"></div>
<section class="services">
    <img src="../../../assets/img/BG LOGOS.png" class="bgLogoContainer__bgLogos" alt="">
    <div class="gradient"></div>
    <h2 class="services__title">Services</h2>

    <div class="services__cardsContainer">
            <div class="cardsContainer__card" *ngFor="let card of cardArray, let i = index"
            [ngClass]="{
                'card1': i === 0,
                'card2': i === 1,
                'card3': i === 2
                }">
                <div class="card__first">
                    <h2 class="card__title">
                        {{card.title}}
                    </h2>
                    <h2 
                        class="card__text"
                        [innerHTML]="card.content">
                    </h2>
                </div>
                <div class="cardsContainer__divisionLine"></div>
                <div class="cardsContainer__barcodeContainer">
                    <picture>
                        <source media="(min-width: 1728px)"
                                srcset="assets\pages\services\tablet/barcode_landscape.png">
                        <source media="(min-width: 1024px)"
                                srcset="assets\pages\services\tablet/barcode_tablet.png">
                        <source media="(min-width: 393px)"
                                srcset="assets\pages\services\mobile/barcode_mobile.png">
                        <img class="barcodeContainer__barcode" 
                             src="assets/pages/services/mobile/barcode_mobile.png" 
                             alt="KRIPTOGRAPHIC logo">
                    </picture>
                </div>
            </div>
    </div>


    <img src="../../../assets/img/GUCCIMAN BNW copy 1.png" class="services__gucchiMan" alt="gucchi-man">
    <div class="services__buttons">
        <ion-icon name="arrow-back-outline" class="right" (click)="goRight()"></ion-icon>
        <ion-icon name="arrow-forward-outline" class="left" (click)="goLeft()"></ion-icon>
    </div>
</section>
