<section class="services">
    <h2 class="services__title">Services</h2>

    <div class="services__cardsContainer">
            <div class="cardsContainer__card" *ngFor="let card of cardArray, let i = index"
            [ngClass]="{
                'card1': i === 0,
                'card2': i === 1,
                'card3': i === 2
                }">
                <h2 class="card__title">
                    {{card.title}}
                </h2>
                <h2 
                    class="card__text"
                    [innerHTML]="card.content">
                </h2>
                <div class="cardsContainer__divisionLine"></div>
                <div class="cardsContainer__barcodeContainer">
                    <img class="barcodeContainer__barcode" src="../../../assets/img/barcode real.png" alt="barcode">
                </div>
            </div>
    </div>


    <div class="services__buttons">
        <img src="../../../assets/img/GUCCIMAN BNW copy 1.png" class="services__gucchiMan" alt="gucchi-man">
        <ion-icon name="arrow-back-outline" class="right" (click)="goRight()"></ion-icon>
        <ion-icon name="arrow-forward-outline" class="left" (click)="goLeft()"></ion-icon>
    </div>
</section>
